module {{.ModuleName}}

go {{.GoVersion}}

require (
	github.com/go-chi/chi/v5 v5.1.0
	github.com/hwhkit/hwhkit-go/config v0.1.0
	github.com/hwhkit/hwhkit-go/core v0.1.0
	github.com/hwhkit/hwhkit-go/hwhkit v0.1.0
)
